:root {
  --color-0: #BDBDBD; /* box color */

  --color-1: #C4FDFF; /* */
  --color-2: #A0D9E2; /* */
  --color-3: #8EC7D0; /* main color */
  --color-4: #B5B2FF; /* sub  color */
  --color-5: #6799FF; /* */

  --logo-URL: url("https://jayppo.github.io/CSS/source/CI.png");
  --logo-Width: 158px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;

  --icon-URL: url("https://jayppo.github.io/CSS/source/icon.png");
  --pre-comment: "CSS 공부중인 ";
  --sub-comment: "명 힘내요!";
}