:root {
  --color-0: #ffffff; /* box color */

  --color-1: #ddffee; /* */
  --color-2: #ddffee; /* */
  --color-3: #ddffee; /* main color */
  --color-4: #4ABFD3; /* sub  color */
  --color-5: #5CD1E5; /* */

  --logo-URL: url("https://jayppo.github.io/CSS/source/CI.png");
  --logo-Width: 200px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;

  --icon-URL: url("https://jayppo.github.io/CSS/source/icon.png");
  --pre-comment: "꿀봉이 ";
  --sub-comment: "명 접속중";