:root {
  --color-0: #ffffff; /* box color */

  --color-1: #C6E2FF; /* */
  --color-2: #C6E2FF; /* */
  --color-3: #C6E2FF; /* main color */
  --color-4: #A0D9E2; /* sub  color */
  --color-5: #C6E2FF; /* */

  --logo-URL: url("https://siper80.github.io/Siper80/로고.png");
  --logo-Width: 200px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;

  --icon-URL: url("https://jayppo.github.io/CSS/source/icon.png");
  --pre-comment: "꿀봉이 ";
  --sub-comment: "명 접속중";